{% extends "base.html" %}

{% block content %}
<style>
  form {
    position: absolute;
    top: 0%;
    left: 0;
    text-align: start;
  }
  h1 {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      text-align: start;
    }
  p {
    position: static;
      top: 0%;
      left: 0%;
      width: 100%;
      text-align: center;
  }
</style>

<p class="title">Welcome, {{ name }}!</p>
</br>
<h1>Email: {{ email }}</h1>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
              {{message}}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
              </button>
        </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<form method="POST" action="/profile">
</br>
      <label><b>Please, enter your Instagram API Key:</b></label>
    </br>
  </br>

  <div class="field">
    <div class="control">
      <input class="input" type="text" name="ig_key" placeholder="Instagram API Key" autofocus="">
    </div>
  </div>

  <div class="field">
    <div class="control">
      <input class="input" type="text" name="ig_username" placeholder="Instagram username" autofocus="">
    </div>
  </div>

    </br>
  <button class="button is-block is-info">Submit</button> 
</form>

{% endblock %}